@media (min-width: 992px){
    main{
        height: 35em;
        width: 85%;
        margin: 0 auto;

    }
    header{
       width: 100%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       gap: 1em;


    }
    header .images{
        position: relative;
        width: 40%;
        z-index: unset;
        border-radius: 50%;
    }
    header .images img{
        width: 70%;
        height: 70%;
        border-radius: 50%;
    }
    header .welcome{
        position: relative;
        bottom: unset;
        left: unset;
        width: 40%;
        padding: 1em;

    }
    .welcome h1{
        width: fit-content;
        font-size: 1.2em;
        background: #fff;
        padding:.3em;
        text-transform: uppercase;
    }
    .container{
        width: 90vw;
        height: fit-content;
    }
    nav{
        top: 1em;
        left: 0;
        transform: translateX(2%);
        width: 95vw;
        margin: 0 auto;
        border-radius: 1em;
        background: rgba(255, 255, 255, .6);
        backdrop-filter: blur(5px);
    }
    nav ul{
        position: unset;
        height: unset;
        width: inherit;
        top: unset;
        right: unset;
        flex-direction: row;
        background: unset;
        border: unset;
        border-radius: unset;
        backdrop-filter: unset;
        box-shadow: unset;
        gap: 0;
        z-index: unset;
    }
    nav ul a{
        font-size: 1.2em;
    }
    nav .mode{
        padding-right: 1em;
        display: block;
    }
    #showMenu, #HideMenu, nav i{
        display: none;
    }
    #showMenu2, #HideMenu2, nav i{
        display: none;
    }
    .location{
        right: 0;
    }
    #cart2{
        right: 2%;
    }
    label{
        width: 25vw;
    }
    .thevid{
       width: 50%;
       margin: 0 auto;
    }
    video{
        width: 100%;
    }
    .aboutSection .aboutImage{
        width: 20em;
    }
     .aboutSection .aboutText{
        width: 45%;
    }
    .cateringSection{
        margin-top: 3em;
        flex-direction: row-reverse;
        padding-top: 2em;
    }
    .cateringSection .catImages{
        width: 35%;
    }
    .cateringSection .catImage2{
        width: 50%;
    }
    .cateringSection .catText{
        width: 45%;
    }
    footer{
        padding-top: 1em;

    }
    .foot_contents{
        justify-content: flex-start;
        flex-direction: row;
    }
    .foot_content1{
        width: 40%;
    }
    aside{
        width:45%;
    }
    .payment{
        width: 45%;
    }
    
}

@media (min-width: 768px) and (max-width:992px){
   
    nav{
        top: 1em;
        left: 0;
        transform: translateX(2%);
        width: 95vw;
        margin: 0 auto;
        border-radius: 1em;
        background: rgba(255, 255, 255, .6);
        backdrop-filter: blur(5px);
        /* position: relative; */
    }
    nav ul{
        position: unset;
        height: unset;
        width: inherit;
        top: unset;
        right: unset;
        flex-direction: row;
        background: unset;
        border: unset;
        border-radius: unset;
        backdrop-filter: unset;
        box-shadow: unset;
        gap: 0;
        z-index: unset;
    }
    nav ul a{
        font-size: .9em;
    }
   
    #showMenu, #HideMenu, nav i{
        display: none;
    }
    #showMenu2, #HideMenu2, nav i{
        display: none;
    }
    .location{
        right: 0;
    }
    #cart2{
        right: 0;
    }
    label{
        font-size: 1.3em;
        width: 25vw;
    }
    nav .mode{
        padding-right: 1em;
        display: block;
    }
    .aboutSection .aboutImage{
        width: 20em;
    }
     .aboutSection .aboutText{
        width: 45%;
    }
    .thevid{
        width: 50%;
        margin: 0 auto;
     }
     video{
         width: 100%;
     }

    .cateringSection{
        margin-top: 3em;
        flex-direction: row-reverse;
        padding-top: 2em;
    }
    .cateringSection .catImages{
        width: 35%;
    }
    .cateringSection .catImage2{
        width: 50%;
    }
    .cateringSection .catText{
        width: 45%;
    }
    footer{
        padding-top: 1em;

    }
    .foot_contents{
        justify-content: flex-start;
        flex-direction: row;
    }
    .foot_content1{
        width: 40%;
    }
    aside{
        width:45%;
    }
    .payment{
        width: 45%;
    }
}